.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.Toastify__toast,
.Toastify__toast-body {
    font-family: var(--font-sn-pro) !important;
}